* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica sans-serif;
  font-size: 22px;
  color: seashell;
}

body {
  background-color: #111;
  opacity: 0.8;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

header {
  background-color: #111;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  border-bottom: 1px solid seashell;
  height: 69px;
}

.container {
  margin: 0 10px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 9px 0;
}

.logo-img {
  height: 50px;
}

.nav-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}

.nav-link {
  text-decoration: underline;
  text-transform: capitalize;
}

.section-1 {
  background-image: url("./img/img-mission-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
  width: 1200px;
  margin: 0 auto;
}

.main-section {
  position: relative;
  top: 50%;
  width: 1200px;
}

.main-content {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #111;
  width: 1200px;
  gap: 10px;
  padding: 10px 0;
}

.main-content h2,
h4 {
  text-transform: capitalize;
  font-weight: bold;
}

.main-content h2 {
  font-size: 30px;
}

.section-2 {
  width: 1000px;
  margin: 0 auto;
}

.section-2--title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}

.section-2--title h4 {
  padding: 20px 0;
  font-size: 30px;
}

.section-title {
  font-size: 40px;
}
.section-2--photo {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.section-2--card img {
  height: 200px;
  width: 300px;
  margin-bottom: 10px;
}

.section-2--card p {
  text-align: center;
}

.section-3 {
  background-image: url("./img/img-locations-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  width: 1200px;
  margin: 50px auto;
}

.section-3--cards {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin: 0 auto;
  padding-top: 15px;
}

.section-3-tile {
  text-align: center;
  padding-top: 30px;
}

.section-3--card {
  background-color: #111;
  width: 300px;
  text-align: center;
  padding: 15px 7px;
  opacity: 1;
  line-height: 67px;
}

.section-4 {
  height: 200px;
  text-align: center;
  line-height: 50px;
}

footer {
  margin: 30px 20px;
  text-align: left;
}
